aws_region = "ap-northeast-2"
city   = "SEOUL"
stage  = "SRE"
name   = "ANDY"      # 유니크한 이름으로 변경, 예를 들면 본인 닉네임
suffix = "EKS"

vpc_cidr = "10.101.0.0/16"    # 그냥 사용해도 되지만, 상황에 맞게 변경해서 사용 가능

# 그냥 사용해도 되지만, 상황에 맞게 변경해서 사용 가능
public_subnet_cidrs = [
  "10.101.25.0/24",
  "10.101.26.0/24",
  "10.101.27.0/24",
]

# 그냥 사용해도 되지만, 상황에 맞게 변경해서 사용 가능
private_subnet_cidrs = [
  "10.101.28.0/24",
  "10.101.29.0/24",
  "10.101.30.0/24",
]
sg_name = "node"
sg_desc = "Security group for all worker nodes in the cluster"             

# 그냥 사용해도 되지만, 상황에 맞게 변경해서 사용 가능
source_sg_cidrs = [
    {
        desc = "Gangnam 13F 1, 2, wifi",
        cidrs = ["58.***.***.***/32", "58.***.***.***/32", "58.***.***.***/32"],   # 접속 허용 IP를 설정한다. http://ipconfig.kr/ 사이트에서 NAT IP 확인해서 설정!!!
        from = 22,
        to = 22,
        protocol = "tcp",
        type = "ingress"
    },
]

kubernetes_version = "1.14"
instance_type = "m5.large"
mixed_instances = ["m4.large", "r4.large", "r5.large"]
volume_size = "64"
min = "1"
max = "10"
on_demand_base = "0"
on_demand_rate = "0"
key_name = "SEOUL-SRE-K8S-EKS"

# AWS 계정을 본인 계정으로 변경해야 함!!! 
map_users = [
  {
    user     = "user/ounju.kim"
    username = "ounju.kim"
    group    = "system:masters"
  },
]

# 소유한 도메인 네임으로 변경해야 함!!!
root_domain = "opsnow.io"

weighted_routing = 100
